<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="port" value="2500"/>
		<add key="default-station-id" value="1234"/>
		<add key="default-station-car-capacity" value="4"/>
		<add key="default-station-kwh-capacity" value="20"/>
		<add key="default-station-"/>
		<add key="ip" value="127.0.0.1"/>
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>